<h3 class="text-center text-white">{{header}}{{dot}}</h3>

<div class="row">
    
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
    <form action="" class="border p-5" style="margin-top:100px ;background-color: rgba(255, 255, 255, 0.137);">
        <h2 class="text-center text-white mb-5">Login Form</h2>

        <div>
            <!-- acno -->
            <!-- (change)="acnoChange($event)" -->
            <input #acno class="form-control m-2" type="text" [placeholder]="accPlaceholder">
        </div>
        <div>
            <!-- pswd -->
            <!-- (change)="pswdChange($event)" -->
            <input #pswd  class="form-control m-2" type="password">
        </div>
        <div>
            <input (click)="login(acno,pswd)" class=" btn btn-primary m-2" type="button" value="Log In" id="loginBtn">
        </div>
        <div class="d-flex mt-2">
            <p class="text-white">Not an user?</p>
            <a href="">Click Here</a>
        </div>
    </form>

</div>
    <div class="col-lg-4"></div>
</div>
